<header>
    <div>
        <ul>
            <li class="logo">
                <div >
                    Ecom
                </div>
            </li>
            <li class="search">
                <div >
                    <input type="text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </li>
            <li class="account">
                <div >
                    <ul>
                        <li ><div class="login">
                            <i class="fa fa-user"></i>
                            Login |
                        </div></li>
                        <li>
                            <div class="signup">Signup</div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="cart">
                <div>
                    <i class="fa fa-cart-plus"></i>
                </div>
            </li>
        </ul>
    </div>
</header>
